
<p>
  It is easy to note that Behavior Subjects are the most convenient ones to manipulate data provided by a standard HTTP request, but the outdated promise is still up to date for many common cases.<br>
  The code is not very technical but explained so as to provide a rather deep understanding on how it works and why it produces this result.<br>
  <br>
</p>
<p>
  This component loads 1 set of data at initialisation time.<br>
  It displays it first immediatly, and then after a click. See in the console when the service gets the data multiple times.
</p>
<p>
  Please note that we don't manage here all aspects like error handling. The service calls local data with a delay of 1,5s.<br>
  Also, we use the "as syntax" to be able to manipulate the object more easily.<br>
  And eventually, the Async pipe subscribes to the Observables, Behavior Subbjects or Subjects and also unsubscribe, so it is very convenient.
</p>
<div>
  <h3>With Observables</h3>
  <div>
    Country name: {{ (country_O$ | async)?.name }}<br>
    <button (click)="show_O = !show_O">Show/hide details</button>
    <div *ngIf="show_O && country_O$ | async as country">
      Name: {{ country.name }}<br>
      Capital: {{ country.capital }}<br>
      Continent: {{ country.continent }}<br>
      GDP: {{ country.gdp }}<br>
      Language: {{ country.language }}<br>
      Population: {{ country.population }}<br>
      Density: {{ country.density }}<br>
    </div>
  </div>
  <p>
    Notes: In this example we load the data each time we open the details because the async subscibes to a hot observable.
  </p>
</div>

<div>
  <h3>With Subjects</h3>
  <div>
    Country name: {{ (country_S$ | async)?.name }}<br>
    <button (click)="show_S = !show_S">Show/hide details</button>
    <div *ngIf="show_S && country_S$ | async as country">
      Name: {{ country.name }}<br>
      Capital: {{ country.capital }}<br>
      Continent: {{ country.continent }}<br>
      GDP: {{ country.gdp }}<br>
      Language: {{ country.language }}<br>
      Population: {{ country.population }}<br>
      Density: {{ country.density }}<br>
    </div>
  </div>
  <p>
    Notes: The Subject is not very convenient. Ok, it doesn't trigger a new request,<br>
    but you have request the data before it arrives (< 1.5s here).<br>
    If you click after the data arrived, your Subject will remain empty, because it is "cold", it won't request the data one more time.<br>
  </p>
</div>

<div>
  <h3>With Behaviour Subjects</h3>
  <div>
    Country name: {{ (country_BS$ | async)?.name }}<br>
    <button (click)="show_BS = !show_BS">Show/hide details</button>
    <div *ngIf="show_BS && country_BS$ | async as country">
      Name: {{ country.name }}<br>
      Capital: {{ country.capital }}<br>
      Continent: {{ country.continent }}<br>
      GDP: {{ country.gdp }}<br>
      Language: {{ country.language }}<br>
      Population: {{ country.population }}<br>
      Density: {{ country.density }}<br>
    </div>
  </div>
  <p>
    Notes: The Behavior subject is ideal because the data is stored and can be retreived at any other moment.<br>
    The 
  </p>
</div>
  
<div>
  <h3>With Promises</h3>
  <div>
    Country name: {{ (country_P$ | async)?.name }}<br>
    <button (click)="show_P = !show_P">Show/hide details</button>
    <div *ngIf="show_P && country_P$ | async as country">
      Name: {{ country.name }}<br>
      Capital: {{ country.capital }}<br>
      Continent: {{ country.continent }}<br>
      GDP: {{ country.gdp }}<br>
      Language: {{ country.language }}<br>
      Population: {{ country.population }}<br>
      Density: {{ country.density }}<br>
    </div>
  </div>
  <p>
    Notes: The Promises are also ideal ; it doesn't matter when the value is asked through the Async pipe,<br>
    the value is provided to the consumer directly or thanks to the value which is cached inside.<br>
    Also, a Promise doesn't require to unsubscribe, so you save verbosity and avoid the risk of having a memory leak.<br>
    It is also good to note that this use case advantageous to Promises as there is only 1 value to consume.
  </p>
</div>
<br>
<br>
<br> 
      