<p>
  The Observables Workshop is an attempt to lay out different simple ways to go through basic technics to display some asynchronous data.<br>
  Observables, Subjects, Behavior Subjects and also promises are on the benchmark with different implementation technics.<br>
  Which one to use, and why?<br>
  It depends!<br>
  <br>
  It is easy to note that Behavior Subjects are the most convenient ones to manipulate data provided by a standard HTTP request, but the outdated promise is still up to date for many common cases.<br>
  The code laied out in this serie of examples demonstrates some cases and is not exhaustive but it this project intends to show different example of good which are more or less relenvent... you will see!<br>
  The code is not very technical but explained so as to provide a rather deep understanding on how it works and why it produces this result.<br>
  <br>
  So, what do you think? Let's get started!<br>
  Navigate, open the console, check the code and the comments!<br>
  <br>
  Is makes a point, or misses it? A more relevant idea, some thoughts?<br>
  Send a quick email at contact@vincentperrin.com
</p>
